<div class="row">
    <div class="col-12">
      <div class="card my-4">
        <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
          <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
            <h6 class="text-white text-capitalize ps-3 text-center">ToDo List</h6>
          </div>
        </div>
        <div class="card-body px-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Id</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Title</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Category</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Priority</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let task of tasks">
                  <td class="align-middle text-center text-sm">{{task.id}}</td>
                  <td class="text-sm">{{task.title}}</td>
                  <td class="align-middle text-center text-sm"></td>
                  <td class="align-middle text-center text-sm"></td>
                  <td class="align-middle text-center text-sm">
                    <span class="badge badge-sm bg-gradient-success"></span>
                  </td>
                  <td class="align-middle text-center text-sm"></td>
                </tr>               
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
